---
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/organisms/Navbar.astro';
import HeroSection from '../components/organisms/HeroSection.astro';
import MetricsBar from '../components/organisms/MetricsBar.astro';
import ServicesGrid from '../components/organisms/ServicesGrid.astro';
import WhyUsSection from '../components/organisms/WhyUsSection.astro';
import TechnologySection from '../components/organisms/TechnologySection.astro';
import CoverageMap from '../components/organisms/CoverageMap.astro';
import TestimonialsSection from '../components/organisms/TestimonialsSection.astro';
import CtaBanner from '../components/organisms/CtaBanner.astro';
import SiteFooter from '../components/organisms/SiteFooter.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 font-display">
		<Navbar />
		<main>
			<HeroSection />
			<MetricsBar />
			<ServicesGrid />
			<WhyUsSection />
			<TechnologySection />
			<CoverageMap />
			<TestimonialsSection />
			<CtaBanner />
		</main>
		<SiteFooter />
	</body>
</html>
