---
import Icon from '../atoms/Icon.astro';

interface Props {
  href?: string;
  label?: string;
}

const { href = '/services', label = 'View details' } = Astro.props;
---

<a href={href} class="flex items-center gap-2 font-bold text-primary transition-all group-hover:gap-3">
  {label}
  <Icon name="arrow_right_alt" />
</a>
